.todo__list{
    text-align: left;
}

.todolist form {
    margin-top: 20px;
}

.todolist input {  
    border: 0;
    border-bottom: 3px dashed #fdcb6e;
    background-color: transparent;
    font-family: "Architects Daughter", sans-serif;
    font-size: 1.3rem;
    padding: 10px 15px;
    width: 70%;
    color: #494a4b;
}

.buttonn {
    margin-top: 30px;
    border: 3px solid hsl(198, 1%, 29%);
    border-radius: 8px;
    padding: 10px 15px;
    font-family: "Architects Daughter", sans-serif;
    font-size: 0.9rem;
}

.ulList{
    
    padding-left: 20px;
    display:flex;
    align-items: center;
    justify-content:space-around
;
align-items: center;}

.delete{
    color: red;
    
    
}
.botoes{
    margin-left: auto;
    
}